* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #141414;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background: #222;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
}

.login-form .logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 94px;
  height: 24px;
}

.login-form h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700; 
  text-align: center;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.login-form p {
  color: #bdbdbd;
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
}

.akun {
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 10px;
}

.akun {
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 10px;
 margin-bottom: 10px;
}

.akun span {
    color: #bdbdbd;
    font-size: 10px;
}

.akun span a {
    margin-left: 8px; /* Jarak Belum punya akun? dengan Daftar */
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.akun a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-form .or-separator {
  text-align: center;
  margin: 10px 0;
  color: white;
  font-size: 10px;
font-weight: 500;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background: rgb(24, 1, 158);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button.login-google img{
  width: 20px;
  height: 20px;
  padding-right: 0px;
}

.login-form button:hover {
  background: #ff3333;
}